---
import items from "../../../content/portfolio"
const { ...props } = Astro.props
---

<section {...props}>
  <div class="mb-4 text-lg">
    <p>Here are a few of the things I've designed and built:</p>
  </div>
  <ul
    class="-mx-4 flex w-screen snap-x grid-cols-2 overflow-x-scroll sm:mx-0 sm:grid sm:w-full sm:gap-4 sm:overflow-x-visible lg:grid-cols-3 lg:gap-6 dark:text-mauve-100"
  >
    {
      items.map(p => {
        let image
        if (p.img.srcset) {
          image = (
            <img
              src={p.img.src}
              alt={p.alt}
              srcset={p.img.srcset}
              class={`rounded-sm ${p.img.class || ""}`}
              loading="lazy"
            />
          )
        }
        if (p.img.light) {
          image = (
            <div>
              <img
                src={p.img.light}
                alt={p.alt}
                class={`block rounded-sm dark:hidden ${p.img.class || ""}`}
                loading="lazy"
              />
              <img
                src={p.img.dark}
                alt={p.alt}
                class={`hidden rounded-sm dark:block ${p.img.class || ""}`}
                loading="lazy"
              />
            </div>
          )
        }
        if (p.img?.src) {
          image = (
            <img
              src={p.img.src}
              alt={p.alt}
              class={`rounded-sm ${p.img.class || ""}`}
              loading="lazy"
            />
          )
        }
        return (
          <li
            class="relative mx-4 mb-2 w-48 shrink-0 snap-center sm:mx-0 sm:mb-0 sm:w-auto"
            style={{ "--radius": "0.25rem" }}
          >
            <a
              href={p.href}
              target="_blank"
              rel="noreferrer"
              class="font-display group flex flex-col gap-4 text-lg text-mauve-200 lg:text-xl"
            >
              {p.img && (
                <div class="shadow-sm transition dark:brightness-90 dark:hover:brightness-100">
                  {image}
                </div>
              )}
              <div>
                {p.title}
                <span class="absolute inset-0 rounded-sm ring-cyan-400 ring-offset-4 ring-offset-zinc-700 group-focus:ring-3" />
              </div>
            </a>
            <p class="text-sm lg:text-base">{p.description}</p>
          </li>
        )
      })
    }
    <li role="presentation" class="sm:hidden">&nbsp;</li>
  </ul>
  <p class="text-xs text-mauve-400 italic sm:hidden">
    Tip: you can scroll horizontally!
  </p>
</section>
