---
import type { CollectionEntry } from "astro:content"
import BaseHead from "../components/BaseHead.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import FormattedDate from "../components/FormattedDate.astro"

import ChevronsLeft from "../../content/assets/lucide/chevrons-left.svg"
import ChevronsRight from "../../content/assets/lucide/chevrons-right.svg"

type Props = {
  prev?: CollectionEntry<"blog">
  next?: CollectionEntry<"blog">
  data: CollectionEntry<"blog">["data"]
}

const {
  prev,
  next,
  data: { title, description, date },
} = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <div class="mx-safe my-4 px-4 md:p-6 lg:px-12">
      <main class="mx-auto max-w-7xl">
        <article>
          <header class="font-display pb-8 sm:pb-12 lg:pb-20">
            <h1
              class="text-shadow-title mb-2 text-4xl font-bold text-indigo-500 md:mb-4 md:text-5xl dark:text-indigo-300"
            >
              {title}
            </h1>
            <div
              class="shadow-solid inline-block rounded-xl bg-white px-3 text-lg font-bold text-indigo-600 shadow-indigo-800 md:mt-2 dark:bg-indigo-50"
            >
              <FormattedDate date={date} />
            </div>
          </header>
          <div
            class="prose-all prose-indigo shadow-layered-light dark:shadow-layered-dark sm:corner-squircle -mx-4 bg-white px-6 py-4 sm:mx-0 sm:rounded-xl lg:rounded-3xl lg:px-8 dark:bg-mauve-800"
          >
            <slot />
          </div>
        </article>

        <nav class="md:mt-8 lg:mt-12">
          <ul class="justify-space-between list-style-none flex flex-wrap p-0">
            {
              prev && (
                <li class="mr-4 mb-4 sm:mb-0">
                  <a
                    class="cosmic-panel flex items-center gap-2 rounded-full px-4 py-2 text-indigo-100 ring-indigo-600 hover:ring-3 focus:ring-3"
                    href={`/${prev.id}/`}
                    rel="prev"
                  >
                    <ChevronsLeft class="-mx-1" />
                    {prev.data.title}
                  </a>
                </li>
              )
            }
            {
              next && (
                <li class="ml-auto">
                  <a
                    class="cosmic-panel flex items-center gap-2 rounded-full px-4 py-2 text-indigo-100 ring-indigo-600 hover:ring-3 focus:ring-3"
                    href={`/${next.id}/`}
                    rel="next"
                  >
                    {next.data.title}
                    <ChevronsRight class="-mx-1" />
                  </a>
                </li>
              )
            }
          </ul>
        </nav>
      </main>
    </div>
    <Footer />
  </body>
</html>
